    div {
        font-size: 1vw;
    }
.presentation {
    width:100%;
    height:auto;
    display:inline-block;
    box-sizing: border-box;
    }
    .quote {
        float:left;
        width:83.35%;
        font-size:3vw;
        font-style:italic;
    box-sizing: border-box;
        text-align:justify;
        font-family:serif;
    }
    img {
        width:16.65%;
        display:inline-block;
    box-sizing: border-box;
        height: auto;
    }
    .sign {
        text-align:right;
        font-size:3vw;
    }
    .line {
        display:block;
        //width:1255px;
        width:100%;
        left:0;
    }
    .rgt-part , .actinide-line, .lanthanide-line {
float:right;
    }
    .actinide-line, .lanthanide-line {
        margin-top:20px;
        width:100%;
    }
    .elem {
        box-sizing: border-box;
        border-style: solid;
        border-color: black;
        width: 5.55%;
        height: 75px;
        display:inline-block;
        background-color:rgb(255,192,192);
        vertical-align:top;
        position:relative;
        float:left;
    }
    .name {
        text-align: center;
        font-size: 2vw;
    }
    .links .name {
        font-size: 1.5vw;
        position: absolute;
        bottom:25px;
    }
    .atomic {
        text-align: right;
    }
    .number {
        position: absolute;
        bottom:0;
    }
    .diatomic-non-metal {
        background-color:rgb(160,255,160);
    }
    .noble-gaz {
        background-color:rgb(192,255,255);
    }
    .halogene {
        background-color:rgb(255,255,153);
    }
    .alcaline-metal {
        background-color:rgb(255,102,102);
    }
    .earth-alcaline {
        background-color:rgb(255,222,173);
    }
    .metaloid {
        background-color:rgb(204,204,153);
    }
    .pt-metal {
        background-color:rgb(204,204,204);
    }
    .lanthanide-line .elem , .lanthanide{
        background-color:rgb(255,191,255);
    }
    .actinide-line .elem , .actinide{
        background-color:rgb(255,153,204);
    }
    .lanthanide-line , .actinide-line {
        float:right;
    }
    .fill {
font-size:0;
border:none;
background-color:white;
    }
