.dropdown {
    position: relative;
    display: inline-block;
    min-width: 160px;
    background-color: #ccaaaa;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FF6666;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
h1 {
font-size:3vw;
font-family: "georgia" serif;
}
p, span {
font-size:1vw;
font-family: "helvetica" sans-serif;
}
